.cart-container {
    color: rgb(0 0 0 / 100%);
    background: transparent;
    border: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    text-decoration: none;
}

.cart-container:hover {
    color: rgba(0,0,0,.75);
}

.cart-container svg {
    width: 30px;
    height: 30px;
}

.cart-container .cart-counter {
    background-color: #ea6a3b !important;
    margin-left: 5px;
    margin-bottom: auto;
}