.product-container {
    flex: 0 0 auto;
    width: 20%;
    padding-bottom: 20px;
}

.product-container .product-item-small {
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    background-color: #ffffff;
}

.product-container .product-item-small:hover {
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 20%);
}

.product-container .product-item-small a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.product-container .product-item-small__visual {
    position: relative;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.product-container .product-item-small__visual div.brand {
    height: 53px;
    margin-bottom: 20px;
}

.product-container .product-item-small__visual img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.product-container .product-item-small__visual img {
    mix-blend-mode: multiply;
    display: inline-block;
}

.product-container .product-item-small__visual img.product-image, 
.product-container .product-item-small__visual img.alt-img {
    width: 100%;
}

.product-container .product-item-small__visual .pill {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}

.product-container .catalog-category-view .category-products .product-item-small .pill {
    width: 100%;
}

.product-container .product-item-small__visual .pill > span {
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

.product-container .black-bg {
    background-color: #000000 !important;
}

.product-container .product-item-small__info {
    margin-top: 8px;
    padding: 10px;
    position: relative;
    background-color: #ffffff;
}

.product-container .product-item-small__info h3 {
    color: #000000;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 700;
}

.product-container .product-item-small__info .price {
    display: inline-block;
    font-size: 15px;
    color: #8e8e93;
    margin: 0 0 4px;
    letter-spacing: 0.6px;
}

.product-container .sizes-container {
    background: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 999;
}

.product-container .button, 
#confirmBox #confirmButtons button.am-btn-left, 
#confirmBox #confirmButtons button.am-btn-right {
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    padding: 0 60px;
    min-width: 100px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
}

.product-container .button__black {
    color: #ffffff;
    background-color: #000000;
}

.product-container .button__noborder {
    border: 0;
}

.product-container .product-item-small__info .sizes-container .item-add-to-cart.button__black {
    background: black;
    width: 100%;
    box-shadow: 0 15px 30px rgb(0 0 0 / 20%);
    padding: 0;
    color: #fff;
}

.product-container .product-item-small:not(:hover) .item-add-to-cart.button__black {
    display: none !important;
}








