.navbar {
    background-color: #fff !important;
}

.navbar .navbar-nav .nav-link {
    color: #000;
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: 300;
}

.navbar .navbar-brand {
    width: 150px;
}